.activ{
    background-color: rgba(89, 92, 92, 0.37);
    border-radius: .3rem;
}


main {
	margin-top: 100px;
}

.containerr {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	color: #1F41BB;
	text-align: center;
}

p {
	margin-bottom: 20px;
}