* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}
   

.containerr {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem;
    background-color: #ffffff;
    margin-top: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
    .container {
        margin-top: 50px;
    }
}



ul li .addedItems {
    display: none;
    width: 16rem;
    padding: 0.7rem;
    background-color: #b3aaaa;
    position: absolute;
    transform: translate(-54%, 5%);
    border: 1px solid #0e0d0d;
    color: #0e0d0d;
    border-radius: .3rem;
  }
  .addedItems  .item{
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: #0e0d0d solid 1px;
    padding: .4rem;
    margin-top: .3rem;

  }
  .addedItems  .item p{
    max-width: 33.3%;
  }