* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --blue-color: #1f41bb;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li {
  font-family: 'Poppins', sans-serif;
  color: var(--blue-color);
}

p {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: rgba(3, 50, 88, 0.11);
}

.navbar ul li {
  padding: 10px;
}
.navbar ul li a {
  font-size: 16px;
  font-weight: 500;
}
.navbar ul li a:hover {
  background-color: rgba(5, 44, 218, 0.288);
  border-radius: 5px;
}

.navbar-toggler {
  background-color: var(--blue-color);
}

.activ {
  background-color: rgba(89, 92, 92, 0.37);
  border-radius: 0.3rem;
}

/* End nav barr ****************** */

.cont {
  width: 90%;
}
.cont h2 {
  text-transform: uppercase;
  line-height: 3.5rem;
}
.cont button {
  padding: 0.6rem;
  border-radius: 1rem;
  background-color: var(--blue-color);
  color: #fff;
  font-weight: bold;
  margin: 1rem;
  border: none;
}

/* Footer  */

footer {
  background-color: rgba(3, 24, 41, 0.11);
}

footer li,
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  list-style: none;
}
footer li a span {
  color: var(--blue-color);
}
.part a {
  color: rgb(70, 70, 236);
}
.part a:hover {
  padding: 0.3rem;
  background-color: rgb(6, 6, 10);
}
footer .social-icons a {
  font-size: 2rem;
  color: #1f41bbea;
}
footer .spotify {
  color: green !important ;
  font-size: 2rem;
}
footer .youtube {
  color: red !important ;
  font-size: 2rem;
}
footer .angellist {
  color: black !important ;
  font-size: 2rem;
}

/* Events Section  */

.event {
  border-radius: 0.5rem;
  padding: 0.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.event .row {
  width: 100%;
  background-color: #ddd;
}
.event .row div {
  display: flex;
  align-items: center;
  align-content: center;
}
.event h6 {
  color: black;
}
.event span {
  color: gray;
  font-weight: lighter;
  font-size: 0.9rem !important;
}
.book {
  padding: 0.3rem;
  background-color: rgb(101, 241, 101);
  color: #fff;
  font-weight: bold;
  border: none;
  height: 80%;
  border-radius: 0.8rem;
}
.card {
  border-radius: 0.3rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.card:hover {
  background-color: #ddd;
}
.book:hover {
  background-color: #1f41bbea;
}


.cart{
  width: 3rem;
  height: 3rem;
  background-color: rgb(238, 238, 243);
  text-align: center;
  border-radius: 50%;
}
.cart:hover{
  background-color: #fafafa;
  
} 
.cart:hover i{
  color: var(--blue-color);
}

.cart i {
  color: rgb(56, 48, 4);
}
.cart i .badg{
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: aliceblue;
  position: absolute;
  background-color: rgb(250, 132, 132);
  border-radius: 50%;
  text-align: center;
  top: -6px;
 

}